bot_account:
  jid: bot_jid@example.com
  password: bot_password
  port: 5222
  protocol: PROTOCOL_TLSv1_2 # available options PROTOCOL_SSLv23, PROTOCOL_SSLv2, PROTOCOL_SSLv3, PROTOCOL_TLSv1_1, PROTOCOL_TLSv1_2, PROTOCOL_TLS

db:
  type: redis

redis_db:
  host: localhost
  port: 6379
  db: 0

allowed_jids:
  - jid@example.com
